<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram.application.feed.FeedMapper">

    <select id="findAllLimitedTo">
        SELECT a.feed_id, contents, location, a.created_at, a.writer_user_id, uid AS writerUid, nick_name AS writerNickName, pic AS writerPic, c.feed_id IS NOT NULL AS isLike
        FROM feed a
        JOIN user b
        ON a.writer_user_id = b.user_id
        LEFT JOIN feed_like c
        ON a.feed_id = c.feed_id
        AND c.user_id = #{signedUserId}
        ORDER BY a.feed_id DESC
        LIMIT #{startIdx}, #{size}
    </select>

    <select id="findAllPicByFeedId">
        SELECT pic
        FROM feed_pic
        WHERE feed_id = #{feedId}
    </select>




</mapper>